@import '/src/assets/_colors.sass'
.stocks
  display: flex
  flex-direction: column-reverse

  .card
    color: white
    margin-bottom: 2rem
    .card-body
      .card-title
        color: $dark-green
        font-weight: 600
        display: flex
        justify-content: space-between
        .stock-actions
          display: flex
          gap: .5rem
          button
            border: none
            display: flex
            align-items: center
            border-radius: .15rem
            color: $champagne
          .add-btn
            gap: .25rem
            background-color: $dark-green
            font-size: .9rem
            i
              font-size: .9rem
            &:hover
              background-color: #315a3c

          .remove-btn
            padding: 0.5rem
            background-color: #ff3a3a
            i
              font-size: .9rem
            &:hover
              background-color: red

      table
        thead
          tr
            th
              text-align: center
              background-color: $cambridge-blue
              background-color: transparent
        tbody
          tr
            th
              text-align: center
              color: $dark-green
            td
              text-align: center
            .quantity
              width: 10%
            .name
              width: 40%
            .details
              width: 30%
            .actions
              button
                  background-color: $champagne
                  border: none
                  border-radius: .15rem
                  transition: .2s
                  i
                    color: black
                    transition: .2s
                    margin: .4rem
                  &:hover
                    background-color: $dark-green
                    transition: .2s
                    i
                      color: $champagne
                      transition: .2s
              .fast-add-actions
                display: flex
                justify-content: center
                gap: .5rem
                input
                  width: 18%
                  border-radius: .15rem
                  border: 1px solid $dark-green
                  text-align: center
              .default-actions
                gap: .4rem
                display: flex
                justify-content: center
                align-items: center
                .remove-btn
                  &:hover
                    background-color: red
                    transition: .2s






